.slider{
    text-align: center;
}
.bxslider1 img{
    height: 350px;
    width: 1200px;
}
.color-title{
    color: #337ab7;
}
.font-lobster{
    font-family: 'Lobster', cursive;
}
.sanphamnoibat{
    text-align: center;
    display: inline-block;
}
.sanphamnoibat .bx-wrapper{
    border-left: none;
    border-right:none;
}
.customer,.brand{
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.brand{
    width: 30px;
}
.btn-top {
    background: rgba(0,1,0,.3);
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    /*height: 50px;*/
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}
.navbar-vertical ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(0,0,0,.1);
    height: 100%;
    overflow: auto;
}
.navbar-vertical ul li{
    padding-left: 20%;

}
.navbar-vertical li a {
    display: inline-block;
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
}


.navbar-vertical li:hover:not(.active) {
    background-color: #555;
    color: white;
}
.navbar-vertical ul{
    box-shadow:inset -3px 5px 10px #000000;
    border-radius: 5px;
}